@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
@font-face {
  font-family: "Muller";
  src: url("../fonts/Muller Regular.eot");
  src: local("☺"), url("../fonts/Muller Regular.woff") format("woff"), url("../fonts/Muller Regular.ttf") format("truetype"), url("../fonts/Muller Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Muller";
  padding-left: 15px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  min-height: 100%;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

.container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .header .header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .header .header__info .header__logo {
  width: 100px;
  height: 60px;
}

.container .header .header__info .header__text {
  font-size: 14px;
  line-height: 20px;
  width: 260px;
  height: 40px;
  margin: 10px 0 0 38px;
}

.container .header .header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .header .header__call .header__phone {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  margin: 13px 32px 0 0;
}

.container .header .header__call .header__phone a {
  color: #000;
}

.container .header .header__call .header__button {
  width: 280px;
  height: 40px;
  border: 2px solid #2f80ed;
  border-radius: 10px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 10px 0;
  padding: 4px 0 5px;
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #fff;
}

.container .header .header__call .header__button span {
  display: block;
  color: #2f80ed;
  text-shadow: 0px 4px 4px #00000040;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search__content {
  margin-top: 66px;
  width: 780px;
}

.search__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  margin: 0 0 24px 0;
}

.search__subtitle {
  font-size: 28px;
  line-height: 39px;
  margin: 0 0 88px 0;
}

.search__items {
  height: 120px;
}

.search__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search__list li {
  background: url(../img/icon/noun_Star.svg) no-repeat;
  padding-left: 52px;
  font-size: 16px;
  line-height: 22px;
  height: 44px;
  width: 321px;
  margin-right: 44px;
  margin-bottom: 28px;
}

.search__text {
  margin: 98px 0 8px 0;
  height: 40px;
  width: 324px;
  font-size: 14px;
  line-height: 20px;
  color: #4f4f4f;
}

.search__link {
  width: 384px;
  height: 72px;
  border: 2px solid #2f80ed;
  border-radius: 10px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 10px 0;
  background-color: #2f80ed;
}

.search__link span {
  display: block;
  height: 70px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  line-height: 22px;
  text-shadow: 0px 4px 4px #00000040;
  padding: 11px 0 0 0;
}

.search__img {
  height: 788px;
  width: 454px;
  margin: 0px -38px 96px 23px;
}

.work__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  width: 926px;
  height: 48px;
  margin: 0 0 12px 145px;
}

.work__subtitle {
  font-size: 20px;
  line-height: 28px;
  width: 596px;
  height: 28px;
  margin: 0 auto 40px;
  text-align: center;
}

.form {
  margin-top: 96px;
}

.work__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 40px 0;
}

.work__box {
  color: #2f80ed;
  width: 100%;
}

.work__list {
  list-style: none;
  counter-reset: number;
  height: 506px;
}

.work__list-item {
  counter-increment: number;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  width: 450px;
  height: 36px;
  background: url(/img/icon/number.svg) no-repeat;
  background-position: 0 2px;
  background-size: 148px 36px;
  margin: 0 0 87px 0;
}

.work__list-item h4 {
  font-size: 20px;
  line-height: 28px;
  color: #000;
}

.work__list-item::before {
  content: "0" counter(number);
  padding-left: 52px;
}

.work__list-item::nth-child(n + 10)::before {
  content: counter(number);
}

.work__list-item:first-child {
  margin: 0 0 60px 0;
}

.work__list-item:nth-child(4) {
  margin: 0 0 60px 0;
}

.work__img {
  width: 700px;
  height: 506px;
}

.work__info {
  display: block;
  height: 104px;
  font-size: 20px;
  line-height: 28px;
  background-color: #ffcf10;
  border-radius: 12px;
  background-image: url(/img/icon/icon-info.svg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 209px 32px;
  padding: 38px 0 0 280px;
  margin: 0 0 96px 0;
}

.work__info h4 {
  width: 784px;
  height: 28px;
}

.work__title-form {
  margin: 0 auto 46px;
  width: 488px;
  height: 60px;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
}

.work__userdata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 87px;
}

.work__username {
  border: 1px solid #828282;
  border-radius: 8px;
  width: 384px;
  height: 72px;
  font-size: 26px;
}

.phone__data {
  width: 384px;
  height: 72px;
  border: 1px solid #828282;
  border-radius: 8px;
  font-size: 26px;
}

.work__form-link {
  margin: 13px 0 0 0;
  width: 384px;
  height: 72px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  background-color: #2f80ed;
  -webkit-box-shadow: 4px 12px 40px rgba(47, 128, 237, 0.35);
          box-shadow: 4px 12px 40px rgba(47, 128, 237, 0.35);
  border-radius: 8px;
}

.work__form-link span {
  display: block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
  height: 72px;
  padding: 12px 0 0 0;
}

.work__agree {
  height: 56px;
  width: 310px;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  margin: 12px 0 122px 850px;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.work__agree a {
  color: #2f80ed;
}

.best__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  width: 1008px;
  height: 96px;
  margin: 0 auto 12px;
}

.best__subtitle {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 0 0 48px 0;
}

.box__list {
  counter-reset: number;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box__item {
  display: block;
  width: 592px;
  height: 88px;
  counter-increment: number;
  border: 1px solid #e0e0e0;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  margin: 0 0 40px 0;
  position: relative;
  font-family: "PT Serif";
}

.box__item .box__text {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 558px;
  height: 40px;
  text-align: center;
  margin: 38px 15px 10px 19px;
  position: relative;
  font-family: "Muller";
}

.box__item::before {
  content: "0" counter(number);
  z-index: 3;
  position: absolute;
  top: -32px;
  left: 270px;
  color: #2f80ed;
}

.box__item:nth-child(n + 10)::before {
  content: counter(number);
}

.box__text::before {
  content: "";
  position: absolute;
  top: -39px;
  left: 241px;
  width: 72px;
  height: 36px;
  border: 1px solid #e0e0e0;
  z-index: 2;
  background-color: #fff;
  border-radius: 0 0 40px 40px;
  border-top: none;
}

.best__info {
  display: block;
  height: 140px;
  font-size: 20px;
  line-height: 28px;
  background-color: #ffcf10;
  border-radius: 12px;
  background-image: url(/img/icon/icon-info.svg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 209px 25px;
  padding: 30px 0 0 280px;
  margin: 0 0 96px 0;
}

.best__info h4 {
  width: 784px;
  height: 84px;
}

.question__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  width: 1008px;
  height: 96px;
  margin: 0 auto 12px;
}

.question__subtitle {
  height: 56px;
  width: 642px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 0 auto 40px;
}

.inner__box {
  margin: 0 auto 96px;
  width: 800px;
  height: 366px;
  border: 1px solid #2f80ed;
  border-radius: 12px;
}

.inner__box .inner__title {
  width: 770px;
  height: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  margin: 12px auto;
  text-align: center;
}

.inner__box .inner__subtitle {
  width: 483px;
  height: 22px;
  font-size: 20px;
  line-height: 28px;
  margin: 0 auto 33px;
  text-align: center;
}

.inner__box .inner__radio {
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 52px 0;
}

.inner__box .inner__radio p {
  margin: 0 0 12px 312px;
  width: 120px;
}

.inner__box .inner__radio p input {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.inner__box .inner__radio p span {
  display: block;
  margin: -33px 0 10px 44px;
}

.inner__box .question__link {
  width: 174px;
  height: 40px;
  background-color: #2f80ed;
  -webkit-box-shadow: 4px 12px 40px rgba(47, 128, 237, 0.35);
          box-shadow: 4px 12px 40px rgba(47, 128, 237, 0.35);
  border-radius: 8px;
  margin: 0 0 24px 522px;
}

.inner__box .question__link span {
  display: block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
  height: 40px;
  padding: 9px 0 0 0;
  font-size: 16px;
  line-height: 22px;
}

.steps {
  margin: 0 0 96px 0;
}

.steps .step__title {
  margin: 0 auto 12px;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  width: 1008px;
  height: 96px;
  text-align: center;
  font-weight: 700;
}

.steps .step__subtitle {
  font-size: 20px;
  line-height: 28px;
  margin: 0 auto 40px;
  text-align: center;
  width: 642px;
  height: 28px;
}

.steps .step__list {
  margin: 0 0 96px 0;
}

.steps .step__list .step__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  counter-reset: number;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 96px;
}

.steps .step__list .step__item .step__item-text {
  display: block;
  counter-increment: number;
  border: 1px solid #ffcf10;
  border-radius: 4px;
  font-size: 36px;
  line-height: 48px;
  position: relative;
  width: 280px;
  height: 84px;
}

.steps .step__list .step__item .step__item-text h4 {
  font-size: 16px;
  line-height: 22px;
  height: 40px;
  width: 200px;
  margin: 24px 0 0 24px;
}

.steps .step__list .step__item .step__item-text::before {
  content: "0" counter(number);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "PT Serif";
  position: absolute;
  top: -25px;
  left: 16px;
  width: 60px;
  height: 47px;
  color: #2f80ed;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 9px;
  z-index: 2;
}

.steps .step__list .step__item .step__item-text:first-child {
  background: url(../img/icon/little/liat.svg) no-repeat;
  background-position: 229px 24px;
}

.steps .step__list .step__item .step__item-text:nth-child(2) {
  background: url(/img/icon/little/phone.svg) no-repeat;
  background-position: 229px 24px;
}

.steps .step__list .step__item .step__item-text:nth-child(3) {
  background: url(/img/icon/little/chair.svg) no-repeat;
  background-position: 229px 24px;
}

.steps .step__list .step__item .step__item-text:last-child {
  background: url(/img/icon/little/case.png) no-repeat;
  background-position: 229px 24px;
}

.about {
  margin: 0 0 96px 0;
}

.about__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  width: 1008px;
  height: 96px;
  margin: 0 auto 12px;
}

.about__subtitle {
  font-size: 20px;
  line-height: 28px;
  color: #4f4f4f;
  width: 684px;
  height: 28px;
  margin: 0 auto 40px;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__us-title {
  font-size: 20px;
  line-height: 28px;
  height: 32px;
  width: 601px;
  color: #2f80ed;
  padding: 0 0 0 48px;
  margin: 0 0 19px 0;
  position: relative;
}

.about__us-title::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0px;
  background: url(/img/icon/little/watch.svg) no-repeat;
  z-index: 2;
  width: 32px;
  height: 40px;
}

.about__text {
  width: 384px;
  height: 405px;
  margin: 47px 0 40px 0;
  font-size: 16px;
  line-height: 22px;
}

.about__text .about__link {
  display: block;
  width: 384px;
  height: 72px;
  background-color: #2f80ed;
  margin: 37px 0 0 0;
  padding: 23px 0 0 0;
  -webkit-box-shadow: 4px 12px 40px rgba(47, 128, 237, 0.35);
          box-shadow: 4px 12px 40px rgba(47, 128, 237, 0.35);
  border-radius: 8px;
}

.about__text .about__link span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  text-align: center;
}

.about__info {
  display: block;
  height: 116px;
  font-size: 20px;
  line-height: 28px;
  background-color: #ffcf10;
  border-radius: 12px;
  background-image: url(/img/icon/icon-info.svg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 209px 32px;
  padding: 32px 0 0 280px;
  margin: 0 0 40px 0;
}

.about__info h4 {
  width: 784px;
  height: 56px;
}

.about__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__img img {
  width: 384px;
  height: 536px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.about__img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.make__title {
  height: 96px;
  width: 1008px;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  margin: 0 0 12px 104px;
}

.make__subtitle {
  height: 28px;
  width: 818px;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 40px 199px;
  text-align: center;
}

.make__question {
  height: 28px;
  width: 417px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 28px 400px;
}

.make__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 96px 0;
}

.make__box .make__items {
  margin-bottom: 42px;
}

.make__box .make__item {
  font-size: 20px;
  line-height: 28px;
  width: 718px;
  height: 45px;
  padding: 7px 0 0 52px;
  background: url(../img/icon/little/question.svg) no-repeat;
}

.make__info {
  display: block;
  height: 116px;
  width: 728px;
  font-size: 20px;
  line-height: 28px;
  background-color: #ffcf10;
  border-radius: 12px;
  background-image: url(/img/icon/icon-info.svg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 24px 25px;
  padding: 32px 0 0 80px;
  margin: 0 0 40px 0;
}

.make__info h4 {
  width: 615px;
  height: 56px;
}

.make__form-text {
  font-size: 16px;
  line-height: 22px;
  width: 384px;
  height: 60px;
  margin-bottom: 0 0 20px 0;
}

.make__form-name {
  margin: 0 0 14px 0;
}

.make__form-name label {
  font-size: 16px;
}

.make__form-phone {
  margin: 0 0 24px 0;
}

.make__form-phone label {
  font-size: 16px;
}

.make__form-link {
  display: block;
  width: 384px;
  height: 72px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  background-color: #2f80ed;
  -webkit-box-shadow: 4px 12px 40px rgba(47, 128, 237, 0.35);
          box-shadow: 4px 12px 40px rgba(47, 128, 237, 0.35);
  border-radius: 8px;
  margin: 0 0 12px 0;
}

.make__form-link span {
  display: block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
  height: 72px;
  padding: 12px 0 0 0;
}

.make__agree {
  width: 383px;
  height: 56px;
  text-align: center;
}

.make__agree a {
  color: #2f80ed;
}

.home__title {
  height: 96px;
  width: 1008px;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  margin: 0 0 12px 104px;
}

.home__subtitle {
  height: 28px;
  width: 818px;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 40px 199px;
  text-align: center;
}

.home__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home__box-text {
  font-size: 16px;
  line-height: 22px;
  width: 384px;
  height: 60px;
  text-align: center;
  margin: 0 0 20px 0;
}

.home__form-name {
  margin: 0 0 14px 0;
}

.home__form-name label {
  font-size: 16px;
}

.home__form-phone {
  margin: 0 0 24px 0;
}

.home__form-phone label {
  font-size: 16px;
}

.home__form-link {
  display: block;
  width: 384px;
  height: 72px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  background-color: #2f80ed;
  -webkit-box-shadow: 4px 12px 40px rgba(47, 128, 237, 0.35);
          box-shadow: 4px 12px 40px rgba(47, 128, 237, 0.35);
  border-radius: 8px;
  margin: 0 0 12px 0;
}

.home__form-link span {
  display: block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
  height: 72px;
  padding: 22px 0 0 0;
}

.home__agree {
  width: 383px;
  height: 56px;
  text-align: center;
  margin: 0 0 40px 0;
}

.home__agree a {
  color: #2f80ed;
}

.home__day {
  text-align: center;
  width: 384px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 52px 18px;
  font-size: 16px;
  line-height: 22px;
  background: #ffcf10;
  border-radius: 10px;
}

.home__day h4 {
  font-weight: 700;
}

.home__map {
  padding: 15px 0 0 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 140px;
  background: rgba(242, 242, 242, 0.5);
  border-radius: 12px;
  z-index: -1;
}

.footer .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.footer .footer__info .header__logo {
  width: 100px;
  height: 60px;
}

.footer .footer__info .footer__text {
  font-size: 14px;
  line-height: 20px;
  width: 260px;
  height: 40px;
  margin: 10px 0 0 38px;
}

.footer .footer__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__call .footer__phone {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  margin: 13px 32px 0 0;
}

.footer .footer__call .footer__phone a {
  color: #000;
}

.footer .footer__call .footer__button {
  width: 280px;
  height: 40px;
  border: 2px solid #2f80ed;
  border-radius: 10px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 10px 0;
  padding: 4px 0 5px;
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #fff;
}

.footer .footer__call .footer__button span {
  display: block;
  color: #2f80ed;
  text-shadow: 0px 4px 4px #00000040;
}
